<h1>Welcome, puny mortal</h1>
<h2>Let's play rock paper scissors!</h2>
<h3>CHOOSE YOUR WEAPON</h3>
<div class="weapons">
	<a href="/play?choice=rock"><i class="fa fa-hand-rock-o" aria-hidden="true"></i></a>
	<a href="/play?choice=paper"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></a>
	<a href="/play?choice=scissors"><i class="fa fa-hand-scissors-o" aria-hidden="true"></i></a>
	<!-- ?url=http://example.com/blog/archives -->
</div>
<div class="hands">
	<i class="fa fa-hand-rock-o" id="left" aria-hidden="true"></i>
	<i class="fa fa-hand-rock-o" id="right" aria-hidden="true"></i>
	<strong>And defend your honor</strong>
</div>